<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styleSheet/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="bg-slate-900 w-full h-screen p-[1rem]">
      <div class="mt-[12px]">
        <a  class="text-blue-600 text-[1.1rem]" href="/read">Go to read...</a>
      </div>
      <h1 class="text-[2rem] text-white">Create User</h1>
      <form action="/create" method="post" class="mt-[12px]">
        <div class="flex gap-[1rem] text-white">
          <input
            type="text"
            class="border-[1px] border-white bg-slate-700 rounded-[0.5rem] px-[12px] py-[6px] text-[1.2rem]"
            placeholder="Name"
            name = "name"
          />
          <input
            type="text"
            class="border-[1px] border-white bg-slate-700 rounded-[0.5rem] px-[12px] py-[6px] text-[1.2rem]"
            placeholder="Email"
            name = "email"
          />
          <input
            type="text"
            class="border-[1px] border-white bg-slate-700 rounded-[0.5rem] px-[12px] py-[6px] text-[1.2rem]"
            placeholder="Image Url"
            name = "imageUrl"
          />
        </div>
        <button
          type="submit"
          class="bg-blue-500 text-white px-[12px] mt-[12px] py-[6px]
           rounded-[0.5rem] text-[1.2rem] ml-[25rem]"
        >
          Submit
        </button>
      </form>
    </div>
  </body>
  <script src="index.js"></script>
</html>
