<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styleSheet/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="bg-slate-900 w-full h-screen p-[1rem]">
      <h1 class="text-[2rem] text-white">All User</h1>
      <div class="flex gap-[1rem] flex-wrap">
        <div class="h-[18rem] w-[17rem] rounded-md bg-gray-200 py-[10px]">
          <div class="h-[10rem] w-[15rem] rounded-md bg-white mx-[15px]"></div>
          <div class="mx-[12px] my-[1rem]">
            <h1 class="text-[1.2rem]">Ranjit K.C.</h1>
            <h2 class="text-slate-700 mt-[-7px]">ranjitkC234@gmail.com</h2>
          </div>
          <div class="flex gap-[5rem] mt-[1rem] px-[12px] bg-white">
            <a href="" class="text-green-800">Edit User</a>
            <a href="" class="text-red-800">Delete User</a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="index.js"></script>
</html>
